body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}

body {
  font-family: "Roboto", sans-sarif;
}

:root {
  --main-color: #74c69d;
  --main-font-color: #212529;
}

.container {
  padding: 40px 120px;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.green-background {
  background-color: var(--main-color);
  padding-bottom: 40px;
}

.logo-p {
  font-size: 46px;
  color: white;
  font-weight: 500;
}

.logo-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-img {
  height: 50px;
}

.nav-a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 300;
}

.a-gap {
  display: flex;
  gap: 25px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.subtitle {
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: 16px;
}

.title-sans {
  color: white;
  font-size: 40px;
  font-family: serif;
  margin-bottom: 20px;
}

.paragraph {
  color: rgba(255, 255, 255, 0.696);
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 15px;
}

.btn {
  padding: 12px 50px;
  background-color: white;
  color: var(--main-font-color);
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.center {
  text-align: center;
  margin-top: 20px;
}

.green {
  color: var(--main-color);
}

.black {
  color: var(--main-font-color);
  text-transform: capitalize;
}

.section-p {
  font-size: 22px;
  color: var(--main-font-color);
  letter-spacing: 1.5px;
  display: inline-block;
  width: 500px;
}

.pages-logo {
  height: 50px;
  width: 150px;
}

.pages {
  height: 40px;
  width: 200px;
}

.gap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.btn-learn-more {
  background-color: var(--main-font-color);
  color: white;
  padding: 12px 40px;
  font-family: "Roboto";
  font-weight: 300;
  margin-bottom: 40px;
}

.footer-right {
  height: 60px;
}

.socials {
  height: 24px;
  width: 24px;
}

.fa {
  height: 20px;
}
